<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="/shop.html">
        <img src="/images/mini/sneakers.jpg" alt="" /> Store
      </a>
    </li>
    <li class="nav__item">
      <a> <img src="/images/mini/sneakers.jpg" alt="" /> OGB TV </a>
    </li>
    <li class="nav__item">
      <a href=""> <img src="/images/mini/games.jpg" alt="" />myGames </a>
    </li>
    <li class="nav__item">
      <a href=""> <img src="/images/mini/sneakers.jpg" alt="" /> Delivery </a>
    </li>
    <li class="nav__item">
      <a href="">
        <img src="/images/mini/sneakers.jpg" alt="" />
        Installations
      </a>
    </li>
    <li class="nav__item">
      <a href=""
        ><img src="/images/mini/question.png" alt="" /> Terms and Policies</a
      >
    </li>
  </ul>
</nav>
