<div class="footer">
  <div class="footer-menu">
    <div class="about">
      <h2>OGB Sports</h2>
      <p>Driven to deliver quality sports designs and services</p>
      <a href="" class="btn"
        ><i class="fa fa-book"></i> Read our return policy</a
      >
    </div>

    <div class="shop">
      <h2><a href="/shop.html">Shop</a></h2>
      <ul>
        <li><a href="">Jersey</a></li>
        <li><a href="">Equipment</a></li>
        <li><a href="">Kits</a></li>
        <li><a href="">Boots and Trainers</a></li>
        <li><a href="">Board games</a></li>
        <li><a href="">Wears</a></li>
      </ul>
    </div>

    <div class="wears">
      <h2>Wears</h2>
      <ul>
        <li>Polo</li>
        <li>Plain T-Shirt</li>
        <li>Boxers</li>
        <li>Gym Wears</li>
      </ul>
    </div>

    <div class="reach-us">
      <h2>Reach Us</h2>
      <ul>
        <li>
          <b>Office:</b>
          <a href="#"
            >Shop B5/2, Quality Lin, Ogige main market, Nsukka, Enugu Nigeria</a
          >
        </li>
        <li><b>Call:</b> <a href="tel:+2348153539370"> 08153539370</a></li>
        <li>
          <b>Chat:</b>
          <ul>
            <li><i class="fab fa-whatsapp"></i></li>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">&copy; &nbsp;2021</div>
</div>
