<div class="header">
  <div class="brand">
    <a href="/">OGB Sports</a>
  </div>

  <nav class="nav">
    <ul class="nav-list">
      <li><a href="/store">Select Category</a></li>
      <li><a href="/store">Find Store Location</a></li>
      <li><a href="#">My Cart</a></li>
      <li><a href="/#reach-us">Reach us</a></li>
    </ul>
  </nav>

  <div class="menu-toggle">
    <i class="fa fa-bars"></i>
  </div>
</div>
