.aside {
  position: fixed;
  right: 0;
  bottom: 0;
  height: calc(100vh - 10rem);
  width: auto;

  background-color: #fff;

  z-index: 1000;

  transform: translateX(100%);
  overflow-y: auto;

  &.active {
    transform: translateX(0);
  }

  .nav {
    &__list {
      color: $black;
      font-size: 1.75rem;
      font-family: "Oswald";
      font-weight: 400;
      padding: 2rem;
      letter-spacing: 0.15rem;
    }

    &__item {
      a {
        display: flex;
        padding: 2rem;
        border-radius: 0.5rem;
        align-items: center;

        white-space: nowrap;
        box-shadow: $box-shadow;

        &:hover,
        &.active {
          background-color: $brand-color;
        }

        img {
          height: 8rem;
          width: 10rem;
          object-fit: cover;
          border-radius: 1rem;
          margin-right: 1.25rem;
          box-shadow: inset $box-shadow;
          box-shadow: $box-shadow;

          background-color: $white;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 1rem;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $brand-color;
    border-radius: 0.5rem;
  }
}
