.footer {
  box-shadow: $box-shadow__y-inverse;

  &-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    padding: 5rem 2rem;

    @media (min-width: $tablet-screen) {
      padding: 2rem 9%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 900;
    }

    > div {
      font-size: 1.35rem;
      line-height: 1.8;
      opacity: 0.85;
    }

    .btn {
      margin-top: 2rem;
      opacity: 1;

      i {
        margin-right: 1rem;
      }
    }
  }

  li {
    &:last-child {
      display: flex;

      gap: 1rem;

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
          font-size: 1.5rem;
        }
      }
    }
  }
  .copyright {
    text-align: center;
    padding: 2rem;
    font-size: 1.35rem;
    background-color: #f2f2f2;
  }
}
