.modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba($color: $c-dark, $alpha: 0.2);

  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal {
    width: 95%;

    max-width: 700px;
    max-height: 80vh;
    overflow: auto;
    margin: 0 auto;
    background-color: $white;

    border: 3px solid $c-dark;
    padding: 2rem;

    position: relative;

    &__title {
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 1.25rem;
      min-width: 85%;
    }

    &__btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2.5rem;
      color: $c-dark;
      line-height: 2rem;

      height: 3rem;
      width: 3rem;
      cursor: pointer;
      border: 3px solid $c-dark;
      border-radius: 50%;
      background-color: #fff;

      box-shadow: $box-shadow;

      &:focus,
      &:hover {
        border: 3px solid $c-light;
        color: $c-light;
        box-shadow: none;
      }
    }
  }
}
