<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />
    <!-- FAVICON ends-->

    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- FONTAWESOME ends-->

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Spectral:wght@200;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- CSS ends -->

    <title>OGB Sports</title>
  </head>

  <!-- ** -->

  <!-- GRID Container -->

  <body class="grid-container">
    <!-- ** -->

    <!-- HEADER -->

    <header><%-include('../components/store-header.ejs') %></header>

    <!-- HEADER ends -->

    <!-- ** -->

    <!-- ASIDE  -->

    <aside class="aside"><%-include('../components/aside.ejs') %></aside>

    <!-- ASIDE ends -->

    <!-- ** -->

    <!-- MAIN -->

    <main class="main">
      <!-- ** -->

      <div class="product-checkout">
        <div class="checkout-container">
          <div class="checkout_product-image">
            <img src="/images/complete-jersey.jpg" alt="" class="product-cart_image" />
          </div>
          <div class="checkout_product-cart product-cart">
            <div class="product-cart_header">
              <h1>Nike Air Max Light 2020</h1>
              <p>Unbreakable Lightweight Explosiveness</p>
            </div>
            <div class="product-cart_cost">
              <div class="">$1200</div>
              <div class="select-qty"></div>
            </div>
            <div class="product-cart_excerpt">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Provident nisi aut atque molestiae quibusdam nobis?
            </div>
            <div class="produce-desc_action">
              <button class="btn">ADD TO CART <i class="fa fa-cart"></i></button>
            </div>
          </div>
        </div>
        <!-- <div class="checkout-on-mobile"></div>
        <div class="checkout-on-desktop"></div> -->
      </div>
    </main>

    <!-- MAIN ends -->

    <!-- ** -->

    <!-- FOOTER -->

    <footer id="reach-us"><%-include('../components/footer.ejs') %></footer>

    <!-- FOOTER ends-->

    <!-- ** -->

    <!-- JAVASCRIPT -->

    <script src="/js/script.js" type="module"></script>

    <!-- JAVASCRIPT ends -->
  </body>

  <!-- GRID Container ends -->
</html>
